@using I3.WAD21.MyFirstMVC.Models
@model IEnumerable<Movie>

<select>
    @foreach (Movie movie in Model)
    {
        <option value="@movie.Id">@movie.Title@((movie.Subtitle is null)?"":" - "+movie.Subtitle)</option>

    }
</select>