@using I3.WAD21.MyFirstMVC.Models
@model IEnumerable<StudentListItem>

@{ 
    string myBtn(string text) { return "<input type=\"button\" value=\""+text+"\" />"; }
}

<ul>
    @foreach (StudentListItem student in Model)
    {
        <li>@Html.ActionLink(@student.Nom, "Student","Demo",new { id = student.Id },new{ @class= "btn btn-primary"}) @Html.Raw(myBtn(student.Nom))</li>

    }
</ul>