<form method="post">
    <div>
        <label for="Email">
            Email :
        </label>
        <input type="email" name="Email" />
    </div>
    <div>
        <label for="Passwd">
            Password :
        </label>
        <input type="password" name="Passwd" />
    </div>
    <div>
        <input type="submit" value="Login" />
    </div>
</form>