@using I3.WAD21.MyFirstMVC.Handlers
@inject SessionManager sessionManager

<h1>Session démonstration</h1>

<p>@sessionManager.MonTableauDeByte.Length</p>
<p>@sessionManager.ValeurText</p>
<p>@sessionManager.ValeurInt</p>