@using I3.WAD21.MyFirstMVC.Models
@model StudentListItem

<table>
    <thead>
        <tr>
            <th>Nom</th>
            <th>Prenom</th>
            <th>Section</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.Nom</td>
            <td>@Model.Prenom</td>
            <td>@Model.Section</td>
        </tr>
    </tbody>
</table>
